<ion-header>
  <ion-toolbar>
    <!-- Boton menú lateral -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Kanit', sans-serif; font-weight: 400">
      <ng-container *ngIf="usuarioRol === 'MEDICO'">Agregar cita</ng-container>
      <ng-container *ngIf="usuarioRol === 'PACIENTE'"
        >Solicitar cita</ng-container
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ng-container *ngIf="usuarioRol === 'MEDICO'"
          >Agregar cita</ng-container
        >
        <ng-container *ngIf="usuarioRol === 'PACIENTE'"
          >Formulario de solicitud de cita</ng-container
        >
        <ion-card-subtitle
          >Rellene todos los campos para solicitar una cita</ion-card-subtitle
        >
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngIf="usuarioRol === 'MEDICO'">
        <ion-label placeholder="DNI del paciente" position="floating"
          >DNI Paciente</ion-label
        >

        <ion-input [(ngModel)]="cita.pacienteId"></ion-input>
      </ion-item>
      <ion-item *ngIf="usuarioRol === 'PACIENTE'">
        <ion-label position="floating">DNI</ion-label>

        <ion-input
          type="text"
          [(ngModel)]="dniUsuarioActual"
          disabled
        ></ion-input>
      </ion-item>

      <!---->
      <ion-item>
        <ion-label position="floating">Especialidad</ion-label>
        <ion-select
          placeholder="Especialidad"
          [(ngModel)]="cita.especialidad"
          (ngModelChange)="buscarDoctorPorEspecialidad(cita.especialidad)"
        >
          <!--En el ion-select, se ha agregado el evento (ionChange) para llamar al método
            loadDoctorsBySpecialty() cada vez que se selecciona una especialidad.
            Esto asegura que se carguen y muestren los doctores correspondientes
            a la especialidad seleccionada.-->
          <ion-select-option
            *ngFor="let especialidad of especialidades"
            [value]="especialidad.nombre"
          >
            {{ especialidad.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Mensaje de resultado de búsqueda -->
      <div *ngIf="doctors.length === 0 && mensajeDoc">
        {{ mensajeDoc }}
      </div>
      <!-- Doctores encontrados -->
      <ion-item *ngIf="doctors.length > 0">
        <ion-label position="floating"
          >Elija un doctor de esta especialidad</ion-label
        >
        <ion-select [(ngModel)]="cita.doctorId">
          <ion-select-option
            *ngFor="let doctor of doctors"
            [value]="doctor.nombre"
            >{{ doctor.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
        <ion-datetime #datetime [isDateEnabled]="isWeekday" [showDefaultTitle]="true" [firstDayOfWeek]="1" presentation="date" [(ngModel)]="cita.fecha">
          <span slot="title">Escoja una fecha</span>
          <ion-buttons slot="buttons">
            <ion-button color="primary" (click)="showTimes()" *ngIf="!mostrarHoras">Mostrar horas disponibles</ion-button>
            <ion-button color="primary" (click)="showTimes()" *ngIf="mostrarHoras">Ocultar horas</ion-button>
          </ion-buttons>
        </ion-datetime>
      <ion-item *ngIf="mostrarHoras">
        <ion-label>Elija un horario</ion-label>
        <ion-select [(ngModel)]="cita.hora">
          <ion-select-option
            *ngFor="let horario of horariosDoctor"
            [value]="horario"
            >{{ horario }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Motivo</ion-label>
        <ion-input [(ngModel)]="cita.motivo"></ion-input>
      </ion-item>

      <ion-item *ngIf="usuarioRol === 'PACIENTE'">
        <ion-label placeholder="Estado cita" position="floating">Estado cita: Pendiente</ion-label>
        <ion-input type="text" [(ngModel)]="cita.estado" placeholder="Pendiente" disabled></ion-input>
      </ion-item>



      <ion-item class="estado-item" *ngIf="usuarioRol === 'MEDICO'">
        <ion-label position="floating">Estado</ion-label>
        <ion-select [(ngModel)]="cita.estado">
          <ion-select-option value="pendiente" *ngIf="usuarioRol === 'MEDICO'">Pendiente</ion-select-option>
          <ion-select-option value="confirmada" *ngIf="usuarioRol === 'MEDICO'">Confirmar</ion-select-option>
          <ion-select-option value="denegada" *ngIf="usuarioRol === 'MEDICO'">Rechazar</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentario</ion-label>
        <ion-input type="email" [(ngModel)]="cita.comentario"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button
      expand="full"
      (click)="agregarCita()"
      >Pedir cita</ion-button
    >
  </ion-card>

  <ion-card color="primary">
    <ion-card-content class="ion-text-center">
      <ion-row *ngIf="mensaje">
        <ion-col>
          <p>{{ mensaje }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content class="ion-text-center">
      <ion-row *ngIf="mensajeID">
        <ion-col>
          <p>{{ mensajeID }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="usuarioRol === 'MEDICO'">
    <ion-card-header>
      <ion-card-title>Buscar Cita</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input [(ngModel)]="idBuscar"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="buscarCitaPorID(idBuscar)"
        >Buscar</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="citasEncontradas.length > 0">
    <ion-card-header>
      <ion-card-title>Citas Encontradas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let cita of citasEncontradas">
          <ion-label>{{ cita.id }}</ion-label>
          <ion-button slot="end" (click)="seleccionarCita(cita)"
            >Seleccionar</ion-button
          >
          <ion-button slot="end" color="danger" (click)="borrarCita(cita.id)"
            >Borrar</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="citaSeleccionada && usuarioRol === 'MEDICO'">
    <ion-card-header>
      <ion-card-title>Modificar Cita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID Cita</ion-label>
        <ion-input [(ngModel)]="cita.id" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">DNI paciente</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.pacienteId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre doctor</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.doctorId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Especialidad</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.especialidad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input
          type="date"
          [(ngModel)]="citaSeleccionada.fecha"
          [value]="citaSeleccionada.fecha | date : 'yyyy-MM-dd'"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.hora"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">motivo</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.motivo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-item class="estado-item">
          <ion-label>Estado</ion-label>
          <ion-select [(ngModel)]="citaSeleccionada.estado">
            <ion-select-option value="confirmada">Confirmar</ion-select-option>
            <ion-select-option value="pendiente">Pendiente</ion-select-option>
            <ion-select-option value="denegada">Denegar</ion-select-option>
            <ion-select-option value="cancelada">Cancelar</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label position="floating">comentario</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.comentario"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="full" (click)="modificarCita()"
      >Modificar Cita</ion-button
    >
  </ion-card>
</ion-content>
