<ion-header>
  <ion-toolbar>
    <!-- Boton menú lateral -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Kanit', sans-serif; font-weight: 400">
      <ng-container *ngIf="usuarioRol === 'MEDICO'">Buscar citas </ng-container>
    <ng-container *ngIf="usuarioRol === 'PACIENTE'">Mis citas</ng-container>
    </ion-title>
    <ion-button slot="end" shape="round" fill="outline" (click)="ordenarCitasPorEstado()" *ngIf="citasPaciente.length">Ordenar citas por estado</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Código para médico -->
  <div class="search-bar-container" *ngIf="usuarioRol === 'MEDICO'">
    <ion-searchbar [(ngModel)]="pacienteId" (ionChange)="buscarCitasPorPacienteID()" placeholder="Escriba el DNI del paciente"></ion-searchbar>
    <ion-button shape="round" (click)="buscarCitasPorPacienteID()">Buscar Citas</ion-button>
  </div>

  <!-- Código para paciente -->
  <div class="search-bar-container" *ngIf="usuarioRol === 'PACIENTE'">
    <p>DNI Usuario Actual: {{ dniUsuarioActual }}</p>
  </div>

  <!-- Código para paciente -->
  <div class="citas-container" *ngIf="citasPaciente.length > 0 && usuarioRol === 'PACIENTE'">
    <ion-list>
      <ion-item *ngFor="let cita of citasPaciente" class="custom-item">
      <ion-label [ngStyle]="{ 'margin-right': '10px' }">
          <h1>Cita: {{ cita.especialidad }}</h1>
          <h2>Fecha:{{ cita.fecha | date }}</h2>
          <p>Hora: {{ cita.hora }}</p>
          <p>Motivo: {{ cita.motivo }}</p>
          <p>Estado: {{ cita.estado }}</p>
          <ion-item [ngStyle]="{ 'width': '260px' }">
      <ion-label class="custom-label" [ngStyle]="{ 'background-color': getColorByEstado(cita.estado), 'margin-right': '10px' }">Estado: {{ cita.estado }}</ion-label>
      </ion-item>
    </ion-label>
  </ion-item>

    </ion-list>
  </div>
  <!-- Código para médico -->
  <div class="citas-container" *ngIf="citasPaciente.length > 0 && usuarioRol === 'MEDICO'">
    <ion-list>
      <ion-item *ngFor="let cita of citasPaciente" class="custom-item">
        <ion-label [ngStyle]="{ 'margin-right': '10px' }">
          <h1>Cita: {{ cita.especialidad }}</h1>
          <h2>Fecha:{{ cita.fecha | date }}</h2>
          <p>Hora: {{ cita.hora }}</p>
          <p>Motivo: {{ cita.motivo }}</p>
          <p>Estado: {{ cita.estado }}</p>
          <ion-item [ngStyle]="{ 'width': '260px' }">
        <ion-label class="custom-label" [ngStyle]="{ 'background-color': getColorByEstado(cita.estado), 'margin-right': '10px' }">Estado: {{ cita.estado }}</ion-label>
      </ion-item>
    </ion-label>
       
        <ion-item class="estado-item">
          <ion-label position="floating">Cambiar estado</ion-label>
          <ion-select [(ngModel)]="nuevoEstado" (ionChange)="modificarEstadoCita(cita)">
            <ion-select-option value="pendiente">Pendiente</ion-select-option>
            <ion-select-option value="confirmada">Confirmada</ion-select-option>
            <ion-select-option value="denegada">Denegada</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-item>
    </ion-list>
  </div>

  <div class="no-citas" *ngIf="citasPaciente.length === 0 && usuarioRol === 'MEDICO'">
    <p>No tienes citas programadas.</p>
  </div>
  <div class="no-citas" *ngIf="citasPaciente.length === 0 && usuarioRol === 'PACIENTE'">
    <p>No tienes citas programadas.</p>
  </div>
  
</ion-content>
