<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap"
  rel="stylesheet"
/>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button
        class="header-buttons"
        fill="clear"
        href="https://goo.gl/maps/MZXeykNCTdsmKbi59"
        target="_blank"
      >
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="header-buttons" fill="clear" href="tel:+34954370550">
        <ion-icon name="call"></ion-icon>
        <span class="button-text" style="font-family: 'Kanit', sans-serif"
          >+ (11) 97309-1594</span
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content"> <!-- Scroll Down-->  <div class="background-container">
    <img src="assets/fondo6.jpg" alt="Fondo" class="background-image" />
  </div>
  <div class="landing-content">
    <div class="logo-container">
      <img
        src="assets/icon/icon.png"
        alt="Logo Clinica Massagem"
        class="logo-image"
      />
    </div>
    <div class="description" style="font-family: 'Kanit', sans-serif">
      <h1
        style="
          color: #7204bb;
          font-size: 40px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.226);
        "
      >
        Clínica Massagem
      </h1>
    </div>

    <br />
    <div class="card-container">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-label
            style="font-family: 'Kanit', sans-serif; font-weight: 400"
            class="card-title"
            >Login</ion-label
          >
          <div style="height: 10px"></div>
          <ion-segment value="pacientes">
            <ion-segment-button
              value="pacientes"
              (click)="setValue('PACIENTE')"
            >
              <ion-icon name="person"></ion-icon>
              <ion-label>Pacientes</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medicos" (click)="setValue('MEDICO')">
              <ion-icon name="medkit"></ion-icon>
              <ion-label>Profissional</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngIf="selectedSegment === 'PACIENTE'">
            <form [formGroup]="form" (ngSubmit)="login()">
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>

                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input
                  type="password"
                  formControlName="password"
                ></ion-input>
              </ion-item>
              <ion-label *ngIf="showError" class="error-label">{{
                errorText
              }}</ion-label>
              <div style="height: 20px"></div>
              <ion-item lines="none">
                <ion-button
                  expand="block"
                  style="--background: #006195"
                  type="submit"
                  >Entrar</ion-button
                >
              </ion-item>
            </form>
            <ion-item lines="none">
              <ion-button
                expand="block"
                fill="clear"
                color="medium"
                size="small"
                >Esqueci minha senha</ion-button
              >
            </ion-item>
            <ion-item lines="none">
              <ion-button
                expand="block"
                fill="clear"
                color="medium"
                size="small"
                [routerLink]="['/register']"
                [queryParams]="{ type: 'PACIENTE' }"
                >Cadastre-se</ion-button
              >
            </ion-item>
          </ion-list>
          <ion-list *ngIf="selectedSegment === 'MEDICO'">
            <form [formGroup]="form" (ngSubmit)="login()">
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input
                  type="password"
                  formControlName="password"
                ></ion-input>
              </ion-item>

              <ion-label *ngIf="showError" class="error-label">{{
                errorText
              }}</ion-label>


              <div style="height: 20px"></div>
              <ion-item lines="none">
                <ion-button
                  expand="block"
                  style="--background: #006195"
                  type="submit"
                  >Entrar</ion-button
                >
              </ion-item>
            </form>
            <ion-item lines="none">
              <ion-button
                expand="block"
                fill="clear"
                color="medium"
                size="small"
                >Esqueci minha senha</ion-button
              >
            </ion-item>
            <ion-item lines="none">
              <ion-button
                expand="block"
                fill="clear"
                color="medium"
                size="small"
                [routerLink]="['/register']"
                [queryParams]="{ type: 'MEDICO' }"
                >Cadastre-se</ion-button
              >
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="footer-container">
    <p class="footer-text">
      © 2023 Clínica Massagem 
    </p>
  </div>
</ion-content>
