.header-buttons {
  margin-right: 10px;
}

.button-text {
  margin-left: 8px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-text {
  color: #7204bb;
  font-size: 14px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.header-buttons {
  margin-top: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #7204bb;
}

.card-container {
  width: 75%;
  margin: 0 auto;
}

.custom-card {
  height: auto;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header-toolbar {
  --background: linear-gradient(to right, #002f6c, #0055b3, #002f6c);
  --ion-color-base: #ffffff;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.logo-image {
  max-width: 200px;
}

.description {
  text-align: center;
  margin-top: 30px;
  color: black;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

ion-button {
  margin-bottom: 10px;
}

.error-label {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}
.scroll-content {
  height: 100vh;
  /* Establece la altura al 100% del viewport */
}
